/* Login */

.login-body {
    min-height: 100%;
    min-width: 100%;
    background-color: var(--primary-color);
    overflow-y: scroll;
    overflow-y: hidden;
}

.login-body {
    background-image: url('src/assets/imgs/HCS_APP_COVER_10.jpg');
    background-size: cover;
}

.bg-primary {
    background-color: var(--tertiary-color) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue-text {
    color: var(--primary-color) !important;
}

.content-form {
    border-radius: 10px;
    -webkit-box-shadow: 0px 22px 24px -12px rgba(0, 0, 0, 0.52) !important;
    -moz-box-shadow: 0px 22px 24px -12px rgba(0, 0, 0, 0.52) !important;
    box-shadow: 0px 22px 24px -12px rgba(0, 0, 0, 0.52) !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.logo{
    text-align: center;
    margin-bottom: 2rem;
}


/* nav-item */

.nav-item {
    text-align: center !important;
}

.nav-item .active {
    background-color: transparent !important;
    color: var(--tertiary-color) !important;
    border-bottom: 1px solid var(--tertiary-color) !important;
    font-weight: normal;
}

.nav-link {
    color: var(--primary-color) !important;
}

@media (min-width: 992px) {
    .login-body {
        height: 790px;
    }
}

@media (max-width: 414px) {
    .login-body {
        height: 736px;
    }
}