.bg-primary {
    background-color: var(--primary-color) !important;
    border-radius: 6px;
}

.main-title {
    color: white;
}

input,
select,
textarea {
    border-color: var(--primary-color) !important;
}


/* nav-item */

.nav-item {
    text-align: center !important;
}

.nav-item .active {
    background-color: transparent !important;
    color: var(--tertiary-color) !important;
    border-color: transparent !important;
    border-bottom: 1px solid var(--tertiary-color) !important;
    font-weight: bold;
}

.nav-link {
    color: var(--primary-color) !important;
}

.nav-tabs {
    border-bottom: transparent !important;
}

.nav-link:hover {
    background-color: var(--tertiary-color) !important;
    color: white !important;
}


/* table-service */

.div-table-service {
    height: 350px;
    overflow: auto;
}

th {
    width: 5% !important;
    top: 0px !important;
    position: sticky !important;
    z-index: 100 !important;
    background: #41929D !important;
    color: white;
    font-size: 1rem;
}



.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid#41929D !important;
    border-top: 2px solid#41929D !important;
}

.table td
{
    overflow: auto;
    border-right: 0.5px solid#41929D;
}
td,
.table th {
    width: 5% !important;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #41929D !important;
}