:root {
    --primary-color: #000000;
    --secondary-color: #DE5F60;
    --tertiary-color: #E1834D;
}


/* 
#E1834D
#DE5F60
#41929D
#2A2522
#FAE8D4
*/

html,
body {
    height: 100%;
    background-color: #fdfdfd;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Buttons */

.btn-primary {
    background-color: var(--tertiary-color) !important;
    color: white !important;
    font-weight: normal !important;
    border-color: var(--tertiary-color) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: rgba(76, 184, 179, .2);
    border-color: rgba(76, 184, 179, .2);
}

.btn-primary:hover {
    background-color: white !important;
    color: var(--tertiary-color) !important;
    border-color: var(--tertiary-color) !important;
}

.btn-success {
    background-color: var(--tertiary-color);
    color: white;
    font-weight: normal;
    border-color: var(--tertiary-color);
}

.btn-success:hover {
    background-color: white;
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.btn-danger {
    margin-right: 5px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: normal;
    border-color: var(--secondary-color);
}

.btn-danger:hover {
    background-color: white;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-control{
    margin-bottom: 10px;
}

label {
    margin-bottom: .2rem;
}